/* Import Lato - Oswald Font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

/* Asterkisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
    }

/* header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

/*Add bottom margin to the active menu item */
menu > li {
    margin-bottom: 1em;
}

.active {
    /* border-bottom: 1px solid #3a3a3a; */
    text-decoration: underline;
}

/* Nav bar styles with dropdown toggle */
nav {
    /* fix nav bar to top of page */
    position: absolute;
    /* Set background-color to match header now the position is absolute*/
    background-color: #ffffff;
    /* add style to nav bar */
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top:100%
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* main content*/
main {
    /* make main take all available space and push the footer down*/
    flex: 1 0 auto;
    /* Push content down by the hight of the header so it displays below fixed header */
    /* A sticky flexbox may be more dynamic here */
    margin-top: 47px;
}

/* hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
}

/* footer */
#social-networks {
        text-align: center;
        padding: 20px 0;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
    }

#social-networks i {
        font-size: 160%;
        padding: 5%;
        color: #3a3a3a;
    }

/* Media Query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Adjust header styles for larger screens */
    header {
        padding: 0 2rem;
    }

    /* Display nav bar horizontally and remove dropdown toggle */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem
    }

    /* Main Content */
    main{
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }
}

@media screen and (min-width: 992px) {
    /* Display hyperlink underlining for PCs */
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a; 
    }
    
}

